<div id="<%= dom_id keyword_mapping %>">
  <p>
    <strong>Channel:</strong>
    <%= keyword_mapping.channel_id %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= keyword_mapping.keyword %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= keyword_mapping.message %>
  </p>

</div>
