<h1>Editing keyword mapping</h1>

<%= render "form", keyword_mapping: @keyword_mapping %>

<br>

<div>
  <%= link_to "Show this keyword mapping", @keyword_mapping %> |
  <%= link_to "Back to keyword mappings", keyword_mappings_path %>
</div>
